<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Productos</title>
    
</head>
<body>

    <h2>Agregar Productos</h2>
    <label class="form-label">Nombre:</label>
    <input type="text" name="nombre" placeholder="Producto" required>

    <label class="form-label">descripcion:</label>
    <input type="text" name="descripcion" placeholder="descripcion" required>

    <label class="form-label">precio:</label>
    <input type="number" name="precio" placeholder="Valor" required>

    <button name="agregar">Agregar</button>

    <div class="lista" id="lista"></div>

   

</body>
</html>
